<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="#" th:action="@{/appform}" th:object="${user}" method="post">
    <table>
      <tr>
        <td>First Name:</td>
        <td><input type="text" th:field="*{firstName}" /></td>
        <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">String chars' amount must be between 2 and 30</td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" th:field="*{lastName}" /></td>
        <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">String chars' amount must be between 2 and 30</td>
      </tr>
      <tr>
        <td>Patronymic:</td>
        <td><input type="text" th:field="*{patronymic}" /></td>
        <td th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">String chars' amount must be between 2 and 30</td>
      </tr>
      <tr>
        <td>Salary:</td>
        <td><input type="text" th:field="*{salary}" /></td>
        <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary must be more than 0</td>
      </tr>
      <tr>
        <td><h3><a href="/appform">Submit another form</a></h3></td>
<!--        <td><button type="submit">Return to form</button></td>-->
      </tr>
    </table>
  </form>
</body>
</html>